*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #808080;
    font-family: Arial, Helvetica, sans-serif;
}

header{
  background: #272525;
  color: #ffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  z-index: 10;
}

.container{
 display: flex;
 flex-wrap: wrap;
 margin-top: 2rem;
 justify-content: space-evenly;
 gap: 25px;
 margin-left: 6rem;
 margin-right: 6rem;
 margin-bottom: 2.5rem;
}

.card{
    font-family: 'Times New Roman', Times, serif;
    background-color:#ffff;
    border: 1px groove;
    justify-items: center;
    border-radius: 10px;
    box-shadow:  0 0 2px;
}

.card p{
    color: #272525;
    margin: 1rem;   
}

.card button{
    display: flex;
    background-color: #42546f;
    color: white;
    border: 1px groove;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 7px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px black;
    transition: 0.3 ease;
}
