*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(0, 0, 0), rgb(64,26,126), rgba(0, 0, 0));
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header{
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    color: white;
    background: linear-gradient(90deg, black, rgb(64, 26, 126), black);
    font-size: 28px;
    text-align: center;
    padding: 2rem;
    border-bottom: 3px groove white;
    margin-bottom: 5rem;
}
#container{
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    padding-right: 3rem;
    padding-left: 3rem;
}
.container{
    flex-wrap: nowrap;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
.card:hover{
    box-shadow: 0 0 20px white;
    transform: scale(1.02);
    transition: 0.3s ease;
}
.card img{
    padding: 5px;
    border: 2px solid;
    border-radius: 6px;
}
.card{
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    box-shadow: 0 0 7px white;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
}
