body {
    background: #f7f3fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background: #d7b6e8;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.display {
    grid-column: span 4;
    background: #ffffff;
    height: 60px;
    border-radius: 10px;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}

.btn {
    background: #e7ccf7;
    border: none;
    padding: 18px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #d9b6f3;
}

.igual {
    grid-column: span 4;
    background: #b07bd6;
    color: white;
    font-weight: bold;
}

.igual:hover {
    background: #9b61c9;
}
